apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-main
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-main
  template:
    metadata:
      labels:
        app: backend-main
        version: v1
    spec:
      containers:
        - name: backend-main
          image: coderaritra/techno-gym-stream:v3
          ports:
            - containerPort: 9084
            - containerPort: 9083
          resources:
            requests:
              cpu: 200m
              memory: 100Mi
            limits:
              cpu: 500m
              memory: 200Mi
          envFrom:
            - configMapRef:
                name: backend-shared-config
            - secretRef:
                name: backend-shared-secret
          env:
            - name: ENV
              value: "PROD"
