apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-stream
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-stream
  template:
    metadata:
      labels:
        app: backend-stream
        version: v1
    spec:
      containers:
        - name: backend-stream
          image: coderaritra/techno-gym-main:v3
          ports:
            - containerPort: 9085
            - containerPort: 9086
          resources:
            requests:
              cpu: 200m
              memory: 100Mi
            limits:
              cpu: 500m
              memory: 200Mi
          envFrom:
            - configMapRef:
                name: backend-shared-config
            - secretRef:
                name: backend-shared-secret
          env:
            - name: PORT
              value: "9085"
            - name: GRPC_WEB_PORT
              value: "9086"
            - name: ENV
              value: "PROD"
