apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-stream
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-stream
  template:
    metadata:
      labels:
        app: backend-stream
    spec:
      hostAliases:
        - ip: "14.139.162.136"
          hostnames:
            - "grpc.lcas.spider-nitt.org"
      containers:
        - name: backend-stream
          image: coderaritra/gym-reg-backend-stream:latest
          ports:
            - containerPort: 9085
            - containerPort: 9086
          resources:
            requests:
              cpu: 200m
              memory: 100Mi
          envFrom:
            - configMapRef:
                name: backend-shared-config
            - secretRef:
                name: backend-shared-secret
          volumeMounts:
            - name: ca-cert-volume
              mountPath: /app/ca-cert.pem
              subPath: ca-cert.pem
      volumes:
        - name: ca-cert-volume
          configMap:
            name: ca-cert-config
