apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-stream
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-stream
  template:
    metadata:
      labels:
        app: backend-stream
    spec:
      containers:
        - name: backend-stream
          image: gym-reg-backend-stream:local
          imagePullPolicy: Never
          ports:
            - containerPort: 9085
            - containerPort: 9086
          resources:
            requests:
              cpu: 200m
              memory: 100Mi
            limits:
              cpu: 500m
              memory: 200Mi
          envFrom:
            - configMapRef:
                name: backend-shared-config
            - secretRef:
                name: backend-shared-secret
