name: Cilium Connectivity Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  cilium-connectivity:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create Kind Cluster
        uses: helm/kind-action@v1.8.0
        with:
          cluster_name: gym-reg-ci
          config: cluster/cluster.yaml

      - name: Install Cilium CLI
        run: |
          CILIUM_CLI_VERSION=v0.16.20
          CLI_ARCH=amd64
          if [ "$(uname -m)" = "aarch64" ]; then CLI_ARCH=arm64; fi
          curl -L --fail --remote-name-all https://github.com/cilium/cilium-cli/releases/download/${CILIUM_CLI_VERSION}/cilium-linux-${CLI_ARCH}.tar.gz{,.sha256sum}
          sha256sum --check cilium-linux-${CLI_ARCH}.tar.gz.sha256sum
          sudo tar xzvfC cilium-linux-${CLI_ARCH}.tar.gz /usr/local/bin
          rm cilium-linux-${CLI_ARCH}.tar.gz{,.sha256sum}

      - name: Install Cilium
        run: |
          cilium install --version 1.16.1 --wait=false
          cilium status --wait

      - name: Enable Hubble
        run: |
          cilium hubble enable
          cilium status --wait

      - name: Deploy Application Stack
        run: |
          chmod +x tests/ci-test.sh
          ./tests/ci-test.sh

      - name: Run Connectivity Test
        run: |
          cilium connectivity test
